## Student Data Analysis

In this activity, you will use the steps below to analyze a dataset of student test scores from schools in a fake school district.

1. Collect the data.

2. Prepare the data.

3. Summarize the data. 

4. Drill down into the data. 

5. Make comparisons.

### Import required libraries and dependencies

<!-- https://pypi.org/project/pathlib2/ -->

In [1]:
import pandas as pd
import os

## Step 1: Collect the data.

To collect the data that youâ€™ll need, complete the following steps:

**1. Using the Pandas `read_csv` function and the `os.path.join` function, import the data from the `new_student_data.csv` file, and create a DataFrame called student_df.**

In [2]:
student_data = os.path.join('../Resources/new_student_data.csv')
student_df = pd.read_csv(student_data)

**2. Use the head (and/or the tail) function to confirm that Pandas properly imported the data.**

In [3]:
student_df.head()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
0,127008367,Sarah Douglas,11th,Chang High School,87.2,64.1,Public
1,33365505,Francisco Osborne,9th,Fisher High School,NaN,NaN,Public
2,44359500,Ryan Haas,12th,Campbell High School,91.6,54.7,Public
3,24791243,Kathryn Mack,11th,Richard High School,68.9,73.3,Charter
4,121467881,Harold Reynolds,12th,Chang High School,68.7,43.4,Public

## Step 2: Prepare the Data

To prepare and clean your data for analysis, complete the following steps:
    
**1. Check for and replace all `NaN`, or missing, values in the student_df DataFrame.**

Use the following methods and functions to complete this section:
* `count()`
* `dropna()`
* `duplicated()`
* `sum()`
* `drop_duplicates()`

In [4]:
# Check for null values
student_df.isna().sum()

student_id          0
student_name        0
grade               0
school_name         0
reading_score    1414
math_score        705
school_type         0
dtype: int64

In [5]:
# Drop null values
student_df = student_df.dropna()
student_df.isna().sum()

student_id       0
student_name     0
grade            0
school_name      0
reading_score    0
math_score       0
school_type      0
dtype: int64

In [6]:
# Check for duplicate rows
student_df.duplicated().sum()

1299

In [7]:
# Drop duplicate rows
student_df = student_df.drop_duplicates()
student_df.duplicated().sum()

0

**2. Use the `str.replace` function to remove the "th" from the grade levels in the grade column.**

In [8]:
# Check the type of the grade column with dtypes
student_df.dtypes

student_id         int64
student_name      object
grade             object
school_name       object
reading_score    float64
math_score       float64
school_type       object
dtype: object

In [9]:
# View the grade column to look for a reason it isn't numeric
student_df['grade']

0        11th
2        12th
3        11th
4        12th
5         9th
         ...
13935    10th
13936    10th
13937     9th
13938    10th
13939    11th
Name: grade, Length: 10604, dtype: object

In [10]:
# Remove 'th' suffixes by replacing with and empty string
student_df['grade'] = student_df['grade'].str.replace('th', '')

In [11]:
# View the grade column to ensure the suffixes were removed
student_df['grade']

0        11
2        12
3        11
4        12
5         9
         ..
13935    10
13936    10
13937     9
13938    10
13939    11
Name: grade, Length: 10604, dtype: object

**3. Convert the data type of the "grade" column to a `int`.**

In [12]:
student_df['grade'] = student_df['grade'].astype(int)
student_df.dtypes

student_id         int64
student_name      object
grade              int32
school_name       object
reading_score    float64
math_score       float64
school_type       object
dtype: object

**4. Use the head (and/or the tail) function to preview the DataFrame.**

In [13]:
student_df.head()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
0,127008367,Sarah Douglas,11,Chang High School,87.2,64.1,Public
2,44359500,Ryan Haas,12,Campbell High School,91.6,54.7,Public
3,24791243,Kathryn Mack,11,Richard High School,68.9,73.3,Charter
4,121467881,Harold Reynolds,12,Chang High School,68.7,43.4,Public
5,79397676,Kyle Brooks,9,Turner High School,72.6,55.4,Public

## Step 3: Summarize the Data

To summarize your data, complete the following steps:

**1. Generate the summary statistics for each DataFrame by using the `describe` function.**

In [14]:
student_df.describe()

         student_id         grade  reading_score    math_score
count  1.060400e+04  10604.000000   10604.000000  10604.000000
mean   6.971953e+07     10.566013      75.241513     64.343248
std    3.470851e+07      1.128907      14.283955     16.662284
min    1.000132e+07      9.000000       9.500000      1.400000
25%    3.974626e+07     10.000000      65.900000     52.700000
50%    6.996368e+07     11.000000      76.400000     65.000000
75%    9.984440e+07     12.000000      86.300000     76.400000
max    1.299903e+08     12.000000     100.000000    100.000000

**2. Display the mean value of each numeric column.**

In [15]:
student_df.mean()

C:\Users\User\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

student_id       6.971953e+07
grade            1.056601e+01
reading_score    7.524151e+01
math_score       6.434325e+01
dtype: float64

**3. Display the maximum value of every column.**

In [16]:
student_df.max()

student_id               129990295
student_name            Zoe Graham
grade                           12
school_name      Woods High School
reading_score                100.0
math_score                   100.0
school_type                 Public
dtype: object

**4. Generate the minimum math score, and store it in the `min_math_score` variable.**

In [17]:
min_math_score = student_df['math_score'].min()
min_math_score

1.4

In [1]:
!pip list

Package                       Version
----------------------------- --------------------
alabaster                     0.7.12
anaconda-client               1.11.0
anaconda-project              0.11.1
anyio                         3.5.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arrow                         1.2.3
astroid                       2.11.7
astropy                       4.3.1
atomicwrites                  1.4.0
attrs                         22.1.0
Automat                       20.2.0
autopep8                      1.6.0
Babel                         2.9.1
backcall                      0.2.0
bcrypt                        3.2.0
beautifulsoup4                4.11.1
binaryornot                   0.4.4
bitarray                      2.5.1
bkcharts                      0.2
black                         22.6.0
bleach                        4.1.0
bokeh                         2.4.3
boto3                         1.24.28
botocore                      1.27.59
Bottleneck                    1.3.5
brotlipy                      0.7.0
certifi                       2022.12.7
cffi                          1.15.1
chardet                       4.0.0
charset-normalizer            2.0.4
click                         8.0.4
cloudpickle                   2.0.0
clyent                        1.2.2
colorama                      0.4.5
colorcet                      3.0.1
comtypes                      1.1.10
conda                         22.11.1
conda-content-trust           0.1.3
conda-pack                    0.6.0
conda-package-handling        1.9.0
conda-token                   0.4.0
constantly                    15.1.0
cookiecutter                  1.7.3
cryptography                  38.0.1
cssselect                     1.1.0
cycler                        0.11.0
Cython                        0.29.32
cytoolz                       0.12.0
daal4py                       2021.6.0
dask                          2021.10.0
datashader                    0.14.3
datashape                     0.5.4
debugpy                       1.5.1
decorator                     5.1.1
defusedxml                    0.7.1
diff-match-patch              20200713
dill                          0.3.4
distributed                   2021.10.0
docutils                      0.18.1
entrypoints                   0.4
et-xmlfile                    1.1.0
fastjsonschema                2.16.2
filelock                      3.6.0
flake8                        4.0.1
Flask                         2.2.2
flit_core                     3.6.0
fonttools                     4.25.0
fsspec                        2022.11.0
gensim                        4.1.2
greenlet                      2.0.1
h5py                          2.10.0
HeapDict                      1.0.1
holoviews                     1.15.2
hvplot                        0.8.2
hyperlink                     21.0.0
idna                          3.4
imagecodecs                   2021.8.26
imageio                       2.19.3
imagesize                     1.4.1
importlib-metadata            4.11.3
importlib-resources           5.2.0
incremental                   21.3.0
inflection                    0.5.1
iniconfig                     1.1.1
intake                        0.6.6
intervaltree                  3.1.0
ipykernel                     6.15.2
ipython                       7.31.1
ipython-genutils              0.2.0
ipywidgets                    7.6.5
isort                         5.9.3
itemadapter                   0.3.0
itemloaders                   1.0.4
itsdangerous                  2.0.1
jdcal                         1.4.1
jedi                          0.18.1
jellyfish                     0.9.0
Jinja2                        3.1.2
jinja2-time                   0.2.0
jmespath                      0.10.0
joblib                        1.1.1
json5                         0.9.6
jsonschema                    4.16.0
jupyter                       1.0.0
jupyter_client                7.4.7
jupyter-console               6.4.4
jupyter_core                  4.11.2
jupyter-server                1.18.1
jupyterlab                    3.5.0
jupyterlab-pygments           0.1.2
jupyterlab_server             2.16.3
jupyterlab-widgets            1.0.0
keyring                       23.4.0
kiwisolver                    1.4.2
lazy-object-proxy             1.6.0
llvmlite                      0.39.1
locket                        1.0.0
lxml                          4.9.1
Markdown                      3.4.1
MarkupSafe                    2.1.1
matplotlib                    3.5.3
matplotlib-inline             0.1.6
mccabe                        0.6.1
menuinst                      1.4.19
mistune                       0.8.4
mkl-fft                       1.3.1
mkl-random                    1.2.2
mkl-service                   2.4.0
mock                          4.0.3
mpmath                        1.2.1
msgpack                       1.0.3
multipledispatch              0.6.0
munkres                       1.1.4
mypy-extensions               0.4.3
nbclassic                     0.4.8
nbclient                      0.5.13
nbconvert                     6.5.4
nbformat                      5.7.0
nest-asyncio                  1.5.5
networkx                      2.6.3
nltk                          3.7
nose                          1.3.7
notebook                      6.5.2
notebook_shim                 0.2.2
numba                         0.56.4
numexpr                       2.8.4
numpy                         1.21.5
numpydoc                      1.5.0
olefile                       0.46
openpyxl                      3.0.10
packaging                     21.3
pandas                        1.3.5
pandocfilters                 1.5.0
panel                         0.14.1
param                         1.12.2
paramiko                      2.8.1
parsel                        1.6.0
parso                         0.8.3
partd                         1.2.0
pathspec                      0.9.0
patsy                         0.5.2
pep8                          1.7.1
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        9.3.0
pip                           22.3.1
pkgutil_resolve_name          1.3.10
platformdirs                  2.5.2
plotly                        5.9.0
pluggy                        1.0.0
poyo                          0.5.0
prometheus-client             0.14.1
prompt-toolkit                3.0.20
Protego                       0.1.16
psutil                        5.9.0
ptyprocess                    0.7.0
py                            1.11.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycodestyle                   2.8.0
pycosat                       0.6.4
pycparser                     2.21
pyct                          0.4.8
pycurl                        7.45.1
PyDispatcher                  2.0.5
pydocstyle                    6.1.1
pyerfa                        2.0.0
pyflakes                      2.4.0
Pygments                      2.11.2
PyHamcrest                    2.0.2
pylint                        2.14.5
pyls-spyder                   0.4.0
PyNaCl                        1.5.0
pyodbc                        4.0.34
pyOpenSSL                     22.0.0
pyparsing                     3.0.9
pyreadline                    2.1
pyrsistent                    0.18.0
PySocks                       1.7.1
pytest                        7.1.2
python-dateutil               2.8.2
python-lsp-black              1.0.0
python-lsp-jsonrpc            1.0.0
python-lsp-server             1.3.3
python-slugify                5.0.2
python-snappy                 0.6.1
pytz                          2022.1
pyviz-comms                   2.0.2
PyWavelets                    1.3.0
pywin32                       305.1
pywin32-ctypes                0.2.0
pywinpty                      2.0.2
PyYAML                        6.0
pyzmq                         23.2.0
QDarkStyle                    3.0.2
qstylizer                     0.1.10
QtAwesome                     1.0.3
qtconsole                     5.2.2
QtPy                          2.2.0
queuelib                      1.5.0
regex                         2022.7.9
requests                      2.28.1
requests-file                 1.5.1
rope                          0.22.0
Rtree                         0.9.7
ruamel.yaml                   0.17.21
ruamel.yaml.clib              0.2.6
ruamel-yaml-conda             0.17.21
s3transfer                    0.6.0
scikit-image                  0.19.3
scikit-learn                  1.0.2
scikit-learn-intelex          2021.20221004.171341
scipy                         1.7.3
Scrapy                        2.6.2
seaborn                       0.12.1
Send2Trash                    1.8.0
service-identity              18.1.0
setuptools                    65.5.0
sip                           4.19.13
six                           1.16.0
smart-open                    5.2.1
sniffio                       1.2.0
snowballstemmer               2.2.0
sortedcollections             2.1.0
sortedcontainers              2.4.0
soupsieve                     2.3.2.post1
Sphinx                        5.0.2
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
spyder                        5.2.2
spyder-kernels                2.2.1
SQLAlchemy                    1.4.39
statsmodels                   0.13.2
sympy                         1.10.1
tables                        3.6.1
tabulate                      0.8.10
TBB                           0.2
tblib                         1.7.0
tenacity                      8.0.1
terminado                     0.13.1
testpath                      0.6.0
text-unidecode                1.3
textdistance                  4.2.1
threadpoolctl                 2.2.0
three-merge                   0.1.1
tifffile                      2021.7.2
tinycss                       0.4
tinycss2                      1.2.1
tldextract                    3.2.0
toml                          0.10.2
tomli                         2.0.1
tomlkit                       0.11.1
toolz                         0.12.0
tornado                       6.2
tqdm                          4.64.1
traitlets                     5.7.1
Twisted                       22.2.0
twisted-iocpsupport           1.0.2
typed-ast                     1.4.3
typing_extensions             4.4.0
ujson                         5.4.0
Unidecode                     1.2.0
urllib3                       1.26.13
w3lib                         1.21.0
watchdog                      2.1.6
wcwidth                       0.2.5
webencodings                  0.5.1
websocket-client              0.58.0
Werkzeug                      2.2.2
wheel                         0.37.1
widgetsnbextension            3.5.2
win-inet-pton                 1.1.0
win-unicode-console           0.5
wincertstore                  0.2
wrapt                         1.14.1
xarray                        0.20.1
xlrd                          2.0.1
XlsxWriter                    3.0.3
xlwings                       0.27.15
yapf                          0.31.0
zict                          2.1.0
zipp                          3.8.0
zope.interface                5.4.0